body{
    background-color: rgb(175, 124, 207);
    width: 265px;
    height: 1400px;
    margin: 0 auto;  
    border-color: red;  
}

#inputText{
    position: relative;
    width:20em ;
    height: 2em;
    border-color: rgb(127, 12, 236);
    background-color: rgb(245, 230, 248);
}

#inputText::placeholder{
    
}

#title{
    color: rgb(43, 33, 44);
    position: relative;
    left: 0.7em;
    font-size: 3em;
}

/********************/
/*Fond animé*/
  
@keyframes move-it {
    0% {
      background-position: initial;
    }
    100% {
      background-position: 100px 0px;
    }
  }
  
  body {  
    background: repeating-linear-gradient(
    45deg,
    #351394,
    #7849ce 45%,
    #8f55ec 50%,
    #825cdb 30%
  );
    background-size: 100px 100px;
    animation: move-it 2s linear infinite;
  }

  .tasks-style{
    position: relative;
    left: 0.26em;
    color: rgb(255, 255, 255);
    margin: -10px 0;
    padding: 6px 0;
    border-radius: 6px;
    background-color: #7849ce;
    word-break: break-all;
    cursor: pointer;
    font-size: 1.1em;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  #add{
    position: relative;
    left: 18.28em;
    top:-2.4em;
    height: 2.4em;
    width: 2.2em;
    background-color: #7849ce;
    border-color: rgb(127, 12, 236);
    color: azure;
  }

  .crossed-out{
    text-decoration:line-through;
    background-color: #351394;
  }

